- firstName = 'Timothy'; lastName = 'Jones'; preferredName = 'Tim'
!!! 5
html
  head
    title Whitespace
    link(rel: 'stylesheet', href: 'css/whiteboard.css')
    link(rel: 'shortcut icon', type: 'image/png', href: 'images/favicon.png')
    script(src: 'js/jquery.min.js')
    script(src: 'js/whiteboard.js')
  body
    - sections = { whiteboard: 'Whiteboard', lessons: 'Lessons', admin: 'Admin'}
    section#left-bar.bar
      #profile.section
        img#avatar(src: 'images/avatar.jpg')
        #name= firstName + ' ' + lastName
      #online.section
        .title Notices
        ul
          li
            a(href: '#').notice Next lesson time has changed again.
            time 17 / 9 / 2010
          li
            a(href: '#').notice Next lesson time has changed.
            time 16 / 9 / 2010
          li
            a(href: '#').notice Construction project outside classroom.
            time 12 / 9 / 2010
      nav#nav
        a.active(data-click: 'whiteboard', href: '#whiteboard')
          .long-cat
          span.vert-align Whiteboard
        a(data-click: 'lessons', href: '#lessons')
          .long-cat
          span.vert-align Lessons
        a(data-click: 'admin', href: '#admin')
          .long-cat
          span.vert-align Admin
    section#center
      .whiteboard
        header
          a#previous-slide <<
          a#next-slide >>
          #whiteboard-header First Header
        #whiteboard-container
          canvas#whiteboard(width: '800px', height: '600px')
          #whiteboard-input-container
            textarea#text-input(rows: 1, cols: 1)
          input#whiteboard-image-loader(type: 'file')
        footer#toolbar
          - for (i in icons = 'marker pencil text eraser image fill'.split(' '))
            img(src: 'images/icons/' + icons[i] + '.png', width: '20px', height: '20px', class: i == 1 ? 'active' : '', data-type: icons[i])
      .lessons
        - courses = { Mathematics: { Algebra: 3, 'Algebra II': 2, Geometry: 3 }, English: { Hamlet: 3, 'King Lear': 2, Othello: 2, 'The Tempest': 2 } }
        ul#courses.fancy-list
          - for (course in courses)
            li
              .fancy-title= course
                a.add-lesson Add New Lesson
              ul.course
                - for (lesson in course = courses[course])
                  li
                    .lesson-title= lesson
                    ul.lesson.to-whiteboard
                      - for (i = 0; i < course[lesson]; ++i)
                        li.slide
                          .slide-top
                          img(src: 'images/slides/' + lesson + '.png')
      .admin
        ul.fancy-list
          li
            .fancy-title Profile
            ul.input-list
              li
                label First Name:
                input(value: firstName)
              li
                label Last Name:
                input(value: lastName)
              li
                label Preferred Name:
                input(value: preferredName)
              li
                label Avatar:
                input(type: 'file', value: 'lasers?!?!?!??!.png')
          li
            .fancy-title English
            #students.input-list
              a Add Participant
              label Participants
              select(multiple)
                option Bisley, Matthew
                option McMillan, Carl
                option Robinson, Thomas
            ul#student-properties.input-list
              li Permissions
                ul#permissions.input-list
                  li
                    input(type: 'checkbox', checked)
                    label Chat
                  li
                    input(type: 'checkbox', checked)
                    label Drawing
                  li
                    input(type: 'checkbox', checked)
                    label Eraser
                  li
                    input(type: 'checkbox')
                    label Image
                  li
                    input(type: 'checkbox')
                    label Background
                  li
                    input(type: 'checkbox')
                    label Clear
    section#right-bar.bar
      .whiteboard
        #lesson.section
          .title Lesson
            a#add-slide New Slide
          ol
            li#current-slide First Header
            li Second Header
            li Third Header
        #announcements.section
          .title Announcements
          ul
            li.empty No announcements
        #chat.section
          .title Chat
          ul
            li.empty No one online
        #templates.section
          .title Templates
          ul
            li.empty No templates found
      .lessons
        #upcoming-lessons.section
          .title Upcoming
          ul
            li
              a.to-whiteboard(href: '#whiteboard') Algebra II
              time 10:00 AM, 20 / 9 / 2010
            li
              a.to-whiteboard(href: '#whiteboard') Hamlet
              time 12:00 AM, 20 / 9 / 2010
            li
              a.to-whiteboard(href: '#whiteboard') Geometry
              time 10:00 AM, 21 / 9 / 2010
        #course-list.section
          .title Courses
          ul
            li
              a(href: '#').course-li Mathematics
              .lesson-count 3 Lessons, 8 Slides
            li
              a(href: '#').course-li English
              .lesson-count 4 Lessons, 9 Slides
          a Add New Course
      .admin
