!!! 5
html
  head
    title Whitespace
    link(rel: 'stylesheet', type: 'text/css', href: 'whiteboard.css')
  body
    section#left-bar.bar
      img#avatar(src: 'images/avatar.jpg')
    section#whiteboard
      canvas
      footer#toolbar
        nav
          a#menu-button(href: 'menu.html')= "<< Menu"
    section#right-bar.bar
